body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    color: #003366;
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00509e;
}

#instructions {
    font-size: 16px;
    margin-bottom: 20px;
}

#contador {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

#numero-actual {
    font-weight: bold;
    color: red; /* Resalta el número
